<!doctype html>
<html>
<head>
  <meta charset="utf-8"/>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
  <script src="/js/lumine.js"></script>
  <script src="/js/lumine-demo.js" defer="defer"></script>
</head>
<body>

<canvas class="lumine"></canvas>

</body>
</html>